[submodule "libs/sokol"]
	path = libs/sokol
	url = https://github.com/floooh/sokol
[submodule "libs/stb"]
	path = libs/stb
	url = https://github.com/nothings/stb
[submodule "libs/Handmade-Math"]
	path = libs/Handmade-Math
	url = https://github.com/HandmadeMath/Handmade-Math
[submodule "tools/sokol-tools-bin"]
	path = tools/sokol-tools-bin
	url = https://github.com/floooh/sokol-tools-bin.git
[submodule "libs/dr_libs"]
	path = libs/dr_libs
	url = https://github.com/mackron/dr_libs.git

